<div class="container-fluid col-md-12 margem-top login">

<div class="panel panel-default col-md-10">
  <div class="panel-body">
    
		<div class="col-md-5">
		
		    <%= render "form" %>

		</div>


		<div class="col-md-5 login">
			  
			<%= render :partial => '/login/form' %>
	
		</div>
  </div>
</div>




</div>

