<h1>Meus Anuncios</h1>

<table>
<tr>
<%= render @anuncios %>
</tr>
</table>

<br>
</br></br></br>
<%= link_to 'Cadastrar Anúncio', new_anuncio_path %>
| <%= link_to 'Todos os Anúncios', anuncios_path %>
</br> </br><%= link_to 'Criar conta', users_path %>
